body {
    background-color: black;
    color: white;
}
.banniere {
    padding: 30px;
}
h1 {
    color: blue;
    text-align: center;
}
#lop {
    margin: 20px;
    padding: 10px;
}
h2 {
    margin-left: 20px;
}
.services {
    margin: 8px 30px 8px 20px;
    border-left: 5px #e68080 solid;
    padding: 10px;
    box-shadow: 6px 6px 0px rgb(250, 249, 249, 0.5);
}
.services, ul {
    list-style-type: none;
}
#acc {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px;
    margin-left: 30px;
}
nav.affiche {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    width: auto;
    height: 80px;
}
nav.affiche, a {
    padding: 20px;
}
#acc:hover {
    background-color: rgb(230, 22, 22);
    color: white;
}